<!DOCTYPE html>
<html lang="en">
    {% load static tailwind_tags %}
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'appSpoti/styles.css' %}">
    <script defer src="{% static 'appSpoti/index.js' %}"></script>
    <title>spoti</title>
</head>
<body>
    <div class="bg-black  h">

        <div class="home-div bg-green-700 max-h-[150px] max-w-[200px]">
            <div class="w-full">
                <div class=" w-full flex">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24"><path d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 11 21 L 11 15 L 13 15 L 13 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z M 12 4.7910156 L 18 10.191406 L 18 11 L 18 19 L 15 19 L 15 13 L 9 13 L 9 19 L 6 19 L 6 10.191406 L 12 4.7910156 z"></path></svg>
                    <img class="max-h-[40px]" src="{% static 'appSpoti\images\home.png' %}">
                    <h4 class="bg-red-900 flex items-center">Home</h4>
                </div>
            </div>
            <div>
                <div>
                    
                </div>
                <div>
                    
                </div>
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</body>
</html>